name: wt_google_sheets_examples
description: "Test example for the wt_google_sheets library"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

# Scripts to be run with rps
scripts:
  init: flutter pub get
  clean: flutter clean
  refresh: flutter clean; flutter pub get
  test: flutter test
  analise: flutter analyze
  freezed:
    build: dart run build_runner build --delete-conflicting-outputs

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons:
  collection:
  freezed_annotation:
  json_annotation: 4.9.0
  gsheets:
  intl:
  wt_google_sheets:
    path: ..
  wt_logging:
    git:
      url: https://github.com/tmcmaster/wt_logging.git
  wt_models:
    git:
      url: https://github.com/tmcmaster/wt_models.git

dev_dependencies:
  build_runner:
  flutter_test:
    sdk: flutter
  flutter_lints:
  freezed:
  json_serializable:

flutter:
  uses-material-design: true